<li class="layui-nav-item toUrl" data="{:Url('myt/mycuoti')}" data-id = "cuoti"><a><span class="imgbg3"></span>我的错题<span class="sanjiaoxing"></span></a></li>
<li class="layui-nav-item toUrl" data="{:Url('myt/myfav')}" data-id = "shoucang"><a><span class="imgbg4"></span>我的收藏<span class="sanjiaoxing"></span></a></li>
<li class="layui-nav-item toUrl" data="{:Url('myt/mybiji')}" data-id = "biji"><a><span class="imgbg1"></span>我的笔记<span class="sanjiaoxing"></span></a></li>
<li class="layui-nav-item jihuo-icon" data="{:Url('biji')}" data-id = "jihuo"><a><span class="imgbg2"></span>购买激活<span class="sanjiaoxing"></span></a></li>
<li class="layui-nav-item toUrl" data="{:Url('my/sign_in')}" data-id = "qiandao"><a><span class="imgbg6"></span>签到<span class="sanjiaoxing"></span></a></li>
<!--li class="layui-nav-item " data="{:Url('myt/tech')}"  data-id = "biji"><a href="javascript:alert('NO');"><span class="imgbg5"></span>我的老师<span class="sanjiaoxing"></span></a></li-->
<!--li class="layui-nav-item "   data="{:Url('myt/stu')}" data-id = "biji"><a href="javascript:alert('NO');"><span class="imgbg5"></span>我的同学<span class="sanjiaoxing"></span></a></li-->
<li class="layui-nav-item toUrl" data="{:Url('myt/tuiguang',array('cateid'=>$id))}" data-id = "tuijian"><a><span class="imgbg10"></span>好友推荐<span class="sanjiaoxing"></span></a></li>
<li class="layui-nav-item toUrl" data="{:Url('login/logout')}" data-id = "loginout"><a><span class="imgbg8"></span>退出登录<span class="sanjiaoxing"></span></a></li>
