<div class="menu-0 toUrl topnav" data="{:Url('tindex/start',array('cateid'=>$id))}" data-id="home"><img src="{__WAP_PATH}img/shouye.png"/><span>首页</span></div>
<div class="menu-1 toUrl topnav" data="{:Url('tindex/tlist',array('cateid'=>$id))}" data-id="tiku"><img src="{__WAP_PATH}img/tiku.png"/><span>题库</span></div>
<div class="menu-2 toUrl topnav" data="{:Url('tindex/Yati',array('cateid'=>$id,'proType'=>4))}" data-id="yati"><img src="{__WAP_PATH}img/shouyeyati.png"/><span>密押题</span></div>
<div class="menu-3 toUrl topnav" data="{:Url('ke/index',array('cateid'=>$id))}" data-id="videos"><img src="{__WAP_PATH}/img/kdtx.png"/><span>在线课程</span></div>

