<div class="menuFixed hide">
    <div class="menu_ul">
        <a class="menu_li" href="javascript:window.history.go(-1);">
            <img class="menu_icon" src="//static.shangxueba.com/tiku/mobile/images/tk_menu_pophome.png" alt="" />
            <div class="menu_txt">首页</div>
        </a>
        <a class="menu_li" href="{:Url('tindex/index')}">
            <img class="menu_icon" src="//static.shangxueba.com/tiku/mobile/images/tk_menu_pop_bank.png" alt="" />
            <div class="menu_txt">切换</div>
        </a>


    </div>

</div>
<div class="mask hide" id="menu_mask"></div>