				
<div class="eaxm-close layui-clear">
	<button class="layui-btn layui-btn-sm exam-close-button" style="background-color: rgb(0, 159, 168);" >退出</button>
</div> 
<div class="sttk layer-photos-demo" id="layer-photos-demo" >
	<div class="sttk-main">
	<div class="form-label" style="font-size: 22px;">{$data.queText}</div>
	<div class="layui-input-block">
	{volist name="$data.tqueOpt" id="voo" key="ko"}
	<li>{$voo.optName}.{$voo.optText}</li>
	{/volist}
	</div>
	<div id="showResult" class="dats" >
	<p>正确答案：{$data.answer}</p>
	<p>{$data.prompt}</p></div>
	</div>
</div>