<div class="logo">
<img src="">
</div>

<div class="top-nav">
    <ul class="layui-nav">

        <li class="layui-nav-item">
            <a href="{:Url('ke/index')}" class="nav-0" >首页</a>
        </li>
            <li class="layui-nav-item">
                <a href="{:Url('ke/list',array('type'=>4))}" class="nav-0" >直播</a>
            </li>
            <li class="layui-nav-item">
                <a href="{:Url('ke/list',array('type'=>3))}" class="nav-0" >点播</a>
            </li>
            <li class="layui-nav-item">
                <a href="{:Url('ke/list',array('type'=>2))}" class="nav-0" >音频</a>
            </li>
            <li class="layui-nav-item">
                <a href="{:Url('ke/list',array('type'=>1))}" class="nav-0" >图文</a>
            </li>
            <li class="layui-nav-item">
                <a href="{:Url('ke/list',array('type'=>5))}" class="nav-0" >专栏</a>
            </li>
            <li class="layui-nav-item">
                <a href="{:Url('tindex/start')}" class="nav-0" >题库</a>
            </li>
    </ul>
</div>


<div class="user">
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="javascript:" class="nav-search" ><i class="layui-icon layui-icon-search"></i> 搜索</a>
        </li>
        <li class="layui-nav-item">
            <a href="#" class="nav-vip"><i class="layui-icon layui-icon-diamond"></i> 会员</a>
        </li>
        
    </ul>
</div>